# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# tasks
*.tasks
*.todo

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace

# Folders to ignore
.svn
.idea
.gradle
target
build
bin
site/

*.class

# Package Files #
*.jar
*.war
*.ear
