<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
	<display-name>Example Web App</display-name>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>jaxrs</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jaxrs</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>

